In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import plotly.express as px
import folium


pd.options.display.max_columns = None

**Nota sobre los datasets**
- El dataset de incidentes tiene valores faltantes en algunas categorias.
- El dataset de incidentes tiene valores faltantes en la informacin de implicados de los ultimo 10_000 incidentes por falta del dataset de implicados.

In [2]:
agents = pd.read_csv("../0_datasets/processed/agents.csv.gz", parse_dates=["read_time", "time_stamp"])
incidents = pd.read_csv("../0_datasets/processed/incidents.csv.gz", parse_dates=["incident_time"])

In [3]:
agents.head()

,id,dev_id,read_time,time_stamp,speed,grp_name,localidad,devicegroupid
0,1641013210,868033050090275,2022-01-01 00:00:10,2022-01-01 00:00:04,5.700076,S60,PUENTE ARANDA,6
1,1641013811,868033050090275,2022-01-01 00:10:11,2022-01-01 00:00:04,5.700076,S60,PUENTE ARANDA,6
2,1641014411,868033050090275,2022-01-01 00:20:11,2022-01-01 00:00:04,5.700076,S60,PUENTE ARANDA,6
3,1641015012,868033050090275,2022-01-01 00:30:12,2022-01-01 00:00:04,5.700076,S60,PUENTE ARANDA,6
4,1641015613,868033050090275,2022-01-01 00:40:13,2022-01-01 00:00:04,5.700076,S60,PUENTE ARANDA,6

In [4]:
incidents.head()

,id,source,type,state,priority,gravity,class,object,latitude,longitude,location,broker_id,implicated,address,zone_id,orient,incident_time,implicated_type,injured_count,dead_count
0,10667,NUSE,Choque,Cerrado,2.0,Con lesionado,Siniestro,NaN,4.600568,-74.178246,BOSA,NaN,2.0,Calle 59 SUR Carrera 77K BIS A,Zona 2,Oriente - Occidente,2021-12-31 23:40:00,Motocicleta,1.0,0.0
1,10667,NUSE,Choque,Cerrado,2.0,Con lesionado,Siniestro,NaN,4.600568,-74.178246,BOSA,NaN,2.0,Calle 59 SUR Carrera 77K BIS A,Zona 2,Oriente - Occidente,2021-12-31 23:40:00,Motocicleta,1.0,0.0
2,10668,NUSE,Choque,Cerrado,2.0,Con lesionado,Siniestro,NaN,4.619570,-74.139442,KENNEDY,Av Boyacá NS,2.0,Av. Boyacá Calle 15F SUR,Zona 2,Norte - sur,2021-12-31 11:38:00,Automóvil,0.0,0.0
3,10668,NUSE,Choque,Cerrado,2.0,Con lesionado,Siniestro,NaN,4.619570,-74.139442,KENNEDY,Av Boyacá NS,2.0,Av. Boyacá Calle 15F SUR,Zona 2,Norte - sur,2021-12-31 11:38:00,Motocicleta,1.0,0.0
4,10669,NUSE,Choque,Cerrado,2.0,Con lesionado,Siniestro,NaN,4.539066,-74.135452,CIUDAD BOLIVAR,NaN,2.0,Calle 76A SUR Carrera 15,Zona 2,Oriente - Occidente,2022-01-01 00:20:00,Automóvil,0.0,0.0

In [5]:
incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114260 entries, 0 to 114259
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               114260 non-null  int64
 1   source           114260 non-null  object
 2   type             112813 non-null  object
 3   state            114260 non-null  object
 4   priority         114259 non-null  float64
 5   gravity          107805 non-null  object
 6   class            114260 non-null  object
 7   object           1723 non-null    object
 8   latitude         114260 non-null  float64
 9   longitude        114260 non-null  float64
 10  location         114260 non-null  object
 11  broker_id        42785 non-null   object
 12  implicated       108523 non-null  float64
 13  address          114260 non-null  object
 14  zone_id          114260 non-null  object
 15  orient           114260 non-null  object
 16  incident_time    114260 non-null  datetime64[ns]
 17  implicated_type  101479 non-null  object
 18  injured_count    101706 non-null  float64
 19  dead_count       101706 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(12)
memory usage: 17.4+ MB